<div class="container">
    <h1 class="my-3 text-center">Covid API Stats</h1>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <p-table [value]="config.stats" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Stats</th>
                        <th>Value</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stats>
                    <tr>
                        <td>{{stats.name}}</td>
                        <td>{{stats.name.indexOf('Updated') > -1 ? stats.value : (stats.value | number:'1.0') }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
<div class="loading" *ngIf="config.isLoading">
    <img src="assets/images/loader.gif" class="img-fluid">
</div>
<div *ngIf="!config.isLoading && config.error">
    <h3 class="mb-0 text-center">No Data Found</h3>
</div>